@import "./variables";
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }

    .header-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;

        .nav-container {
            display: flex;
            background: white;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);

            .navbar-logo {
                width: 150px;
                height: 50px;

                img {
                    height: 36px;
                    padding: 0.5em 0.5em;
                    width: 130px;
                }
            }
        }

        .navbar-menu {
            transform: translate(-50%, 0);
            position: fixed;
            display: block !important;
            background: transparent;
            margin: 0;
            left: 50%;
            z-index: 1;
            width: 639px;
            padding: 1em 0;

            .menu-list {
                display: none;

                li {
                    padding: 0 2em;
                    font-size: 12px;
                    font-weight: 550;
                    color: black;
                    font-family: $textFont;
                    letter-spacing: 2px;
                }
            }
        }

        .navbar-icons {
            position: fixed;
            display: block !important;
            background: transparent;
            margin: 0;
            left: 54%;
            z-index: 1;
            width: 768px;

            .donate-button {
                @include donate-btn;
                width: 78px;
                height: 33px;
            }

            .user {
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;

                li {
                    padding-top: 0.5em;
                }

                .account {
                    padding: 0.5em 0.5em;
                }

                a {
                    padding: 0 1em;
                    color: black;
                    margin: 0;
                    padding: 0 1.3em;
                }

                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .content-container {
        margin-top: 5em;

        .article-heading {
            width: 100%;
            height: 100%;

            .header {
                padding: 1em;

                h5 {
                    font-weight: 600;
                    font-size: 0.5em;
                    letter-spacing: 0.1625em;
                    line-height: 1rem;
                    font-family: $textFont;
                }

                h1 {
                    font-size: 1.4em;
                    font-weight: 400;
                    line-height: 1.2;
                    margin: 0.2em 0;
                    letter-spacing: 0.1em;
                    font-family: $textFont;
                }

                h2 {
                    color: #000;
                    font-size: 0.78em;
                    line-height: 1.8;
                    font-weight: 400;
                    font-family: $textFont;
                    letter-spacing: -0.01em;
                    word-spacing: 0.05em;
                    text-transform: none;
                }
            }
        }

        .sharing-icons {
            padding: 1em 1em;

            .article-sharing {
                list-style: none;
                display: flex;

                li {
                    padding-right: 1em;
                }

                .fa-twitter {
                    color: $twitterColor;
                }

                .fa-facebook-square {
                    color: $facebookColor;
                }

                .fa-pinterest-p {
                    color: $pinterestColor;
                }
            }
        }

        .text-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h2 {
                font-family: GeographWeb, Helvetica, Arial, sans-serif;
                line-height: 1.5;
                letter-spacing: 0.13em;
                font-weight: 500;
                margin-top: 0.5em;
                font-size: 1em;
            }

            h3 {
                line-height: 1.8;
                font-weight: 400;
                font-family: GeographWeb, Helvetica, Arial, sans-serif;
                letter-spacing: -0.01em;
                word-spacing: 0.05em;
                text-transform: none;
                font-size: 0.9em;
                padding: 1em;
            }

            p {
                margin-top: 1.5em;
                font-family: GeographWeb, Helvetica, Arial, sans-serif;
                font-weight: 400;
                line-height: 1.7;
                word-spacing: 0.05em;
                font-size: 0.8em;
                padding: 1em;
                margin-top: 0;
            }

            a {
                color: #000;
                text-decoration: none;
                cursor: pointer;
                border-bottom: 1px solid #fc0;
                text-decoration: none;
            }

            .text-3 {
                padding-right: 1em;
            }

            .grid-box {
                display: flex;
                flex-direction: column;

                img {
                    width: 270px;
                    padding-left: 1em;
                    padding-top: 0.5em;
                }

                .news {
                    border-left: 2px solid #999;
                    padding: 0 0.5em;
                    margin-left: 2em;
                    color: #999;
                    font-family: GeographWeb, Helvetica, Arial, sans-serif;
                    font-size: 0.5em;
                }

                .right-text {
                    margin: 0.4em 1em;

                    p {
                        font-family: GeographWeb, Helvetica, Arial, sans-serif;
                        font-weight: 400;
                        line-height: 1.7;
                        word-spacing: 0.05em;
                        font-size: 0.8em;
                        padding: 0;
                        padding-top: 0.5em;
                        margin-top: 0;
                    }
                }
            }
        }

        .map-img {
            margin: 6px;

            img {
                max-width: 100%;
                height: auto;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0.5em;
            }

            .bottom-text {
                padding-left: 0.5em;

                p {
                    border-left: 2px solid #999;
                    padding: 0 0.5em;
                    color: #999;
                    font-family: $textFont;
                    font-size: 0.7em;
                    word-spacing: 0.05em;
                }
            }
        }

        .line {
            border: 0.5px solid #999;
            margin-top: 1em;
        }

        .box-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background: #f5f5f5;

            .text-container {
                padding: 1em;

                .box-text {
                    font-size: 1em !important;
                    font-weight: 400;
                    margin-top: 1em;
                    padding-left: 1em;
                    letter-spacing: 0.12em !important;
                    word-spacing: 0.05em !important;
                    border-left: 2px solid black !important;
                    line-height: 2 !important;
                }

                p {
                    margin: 0.7em;
                    font-family: GeographWeb, Helvetica, Arial, sans-serif;
                    font-size: 0.9em;
                    font-weight: 400;
                    line-height: 1.7;
                    word-spacing: 0.05em;
                }
            }
        }

        .more-box {
            display: flex;
            flex-direction: column;

            h3 {
                font-family: GeographWeb, Helvetica, Arial, sans-serif;
                font-size: 0.8em;
                font-weight: 600;
                line-height: 1.7;
                word-spacing: 0.05em;
            }

            .more-list {
                margin: 1em;

                ul {
                    list-style: none;
                    text-align: center;

                    li {
                        margin: 1em;
                        font-family: GeographWeb, Helvetica, Arial, sans-serif;
                        font-size: 0.8em;
                        font-weight: 600;
                        line-height: 1.7;
                        word-spacing: 0.05em;
                        color: #666;
                    }
                }
            }

            .follow-list {
                margin: 1em;
                padding: 0em;

                .share-items-1 {
                    list-style: none;
                    display: flex;
                    justify-content: center;

                    li {
                        margin: 1em;

                        a {
                            box-sizing: border-box;
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            border-radius: 100%;
                            background: #fff;
                            line-height: 40px;

                            i {
                                margin-left: 0.8em;
                            }

                            .fa-twitter {
                                color: $twitterColor;
                            }

                            .fa-facebook-f {
                                color: $facebookColor;
                                margin-left: 1em;
                            }

                            .fa-instagram {
                                color: $instagramColor;
                            }
                        }
                    }
                }

                .share-items-2 {
                    list-style: none;
                    display: flex;
                    padding-left: 4em;

                    li {
                        margin: 0.5em;

                        a {
                            box-sizing: border-box;
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            border-radius: 100%;
                            background: #fff;
                            line-height: 40px;

                            i {
                                margin-left: 0.8em;
                            }

                            .fa-twitter {
                                color: $twitterColor;
                            }

                            .fa-facebook-f {
                                color: $facebookColor;
                                margin-left: 1em;
                            }

                            .fa-instagram {
                                color: $instagramColor;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        background: #222;

        .footer-container {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            align-items: center;

            .footer-logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1.5em;
                margin-top: 2em;

                img {
                    height: 54px;
                    width: 170px;
                }

                p {
                    font-family: GeographWeb, Helvetica, Arial, sans-serif;
                    font-size: 0.7em;
                    font-weight: 400;
                    line-height: 1.7;
                    word-spacing: 0.05em;
                    color: #fff;
                    padding-top: 1em;
                    padding-left: 1em;
                }
            }

            .footer-menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                h6 {
                    @include footer-title;
                    font-size: 9px;
                }

                ul {
                    list-style: none;

                    li {
                        padding-bottom: 0.8em;

                        a {
                            @include footer-font;
                            font-size: 0.6em;
                            margin: 0;
                            padding-right: 2em;
                            display: inline-block;
                            color: #fff;
                            cursor: pointer;
                            text-decoration: none;
                        }
                    }
                }
            }

            .footer-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;

                .donate-button {
                    @include donate-btn;
                    width: 110px;
                    height: 30px;
                }

                .updates-button {
                    @include updates-btn;
                    background-color: #fff;
                    border-color: #fff;
                    width: 110px;
                    height: 34px;
                    margin-top: 1.5em;
                }
            }

            .footer-icons {
                padding-top: 2em;

                h6 {
                    @include footer-title;
                    color: #fff;
                    letter-spacing: 0.2em;
                    font-size: 12px;
                    text-align: center;
                }

                ul {
                    list-style: none;
                    display: flex;
                    padding-top: 0.5em;

                    li {
                        padding-right: 1em;

                        .fab {
                            color: #999;
                        }
                    }
                }
            }

            .footer-text {
                display: flex;
                width: 100%;
                padding-top: 1em;
                padding-bottom: 1em;

                p {
                    @include footer-font;
                    font-size: 9px;
                    color: #999;
                    padding: 1em;
                    text-align: center;

                    a {
                        color: #999;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
