@import "./variables";

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
    }

    .header-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;

        .nav-container {
            display: flex;
            background: white;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);

            .navbar-logo {
                width: 150px;
                height: 50px;

                img {
                    height: 36px;
                    padding: 0.5em 0.5em;
                    width: 130px;
                }
            }
        }

        .navbar-menu {
            transform: translate(-50%, 0);
            position: fixed;
            display: block !important;
            background: transparent;
            margin: 0;
            left: 50%;
            z-index: 1;
            width: 768px;
            padding: 1em 0;

            .menu-list {
                display: flex;
                list-style: none;

                li {
                    padding: 0 2em;
                    font-size: 15px;
                    font-weight: 550;
                    color: black;
                    font-family: $textFont;
                    letter-spacing: 2px;
                }
            }
        }

        .navbar-icons {
            position: fixed;
            display: block !important;
            background: transparent;
            margin: 0;
            left: 80%;
            z-index: 1;
            width: 768px;
            padding: 0.5em 4.5em;

            .donate-button {
                @include button;
            }

            .user {
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;

                .account {
                    padding: 0 1.5em;
                }

                a {
                    padding: 0 1em;
                    color: black;
                    margin: 0;
                    padding: 0 1.3em;
                }

                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .content-container {
        margin-top: 7em;

        .article-heading {
            width: 90%;
            height: 100%;
            margin: 0 120px;

            h5 {
                font-weight: 600;
                font-size: 0.8125em;
                letter-spacing: 0.1625em;
                line-height: 1rem;
                font-family: $textFont;
            }

            h1 {
                font-size: 3.75em;
                font-weight: 400;
                line-height: 1.2;
                margin: 0.2em 0;
                letter-spacing: 0.1em;
                font-family: $textFont;
            }

            h2 {
                color: #000;
                font-size: $textSize;
                line-height: 1.8;
                font-weight: 400;
                font-family: $textFont;
                letter-spacing: -0.01em;
                word-spacing: 0.05em;
                margin-top: 15px;
                text-transform: none;
            }
        }

        .sharing-icons {
            padding: 2em 0;

            .article-sharing {
                list-style: none;
                display: flex;

                li {
                    padding-right: 1em;
                }

                .fa-twitter {
                    color: $twitterColor;
                }

                .fa-facebook-square {
                    color: $facebookColor;
                }

                .fa-pinterest-p {
                    color: $pinterestColor;
                }
            }
        }

        .text-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding-bottom: 2em;

            h2 {
                @include h2-font;
            }

            h3 {
                @include h3-font;
            }

            p {
                @include p-font;
            }

            a {
                color: #000;
                text-decoration: none;
                cursor: pointer;
                border-bottom: 1px solid #fc0;
                text-decoration: none;
            }

            .text-3 {
                padding-right: 1em;
            }
        }

        .map-img {
            margin: 6px;

            img {
                max-width: 100%;
                height: auto;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                margin-top: 3em;
                padding: 0em 14em;
            }

            .bottom-text {
                margin-left: 14em;
                padding-top: 0.5em;

                p {
                    border-left: 2px solid #999;
                    padding: 0 1.5em;
                    color: #999;
                    font-family: $textFont;
                    font-size: 0.7em;
                }
            }
        }

        .line {
            border: 0.5px solid #999;
            margin: 2em 0;
        }

        .box-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background: #f5f5f5;
            padding-top: 1em;

            .text-container {
                margin: 4em 0;

                .box-text {
                    @include box-title;
                }

                p {
                    @include p-font;
                }
            }
        }
    }
}